<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>用户管理系统</h2></div>
        <div class="panel-body">
            <p><a href="">添加用户</a></p>
        </div>
        <table class="table">
            <tr>
                <th>用户名</th>
                <th>地址</th>
                <th>手机号</th>
                <th>操作</th>
            </tr>
            {% for item in pagination.items %}
                <tr>
                    <th>{{ item.username }}</th>
                    <th>
                        {% for addr in item.addrs %}
                            <div>地址: {{ addr.province }}{{ addr.city }}{{ addr.detail }}</div>
                        {% endfor %}
                    </th>
                    <th>
                        {% for addr in item.addrs %}
                            <div>联系方式: {{ addr.phone }}</div>
                        {% endfor %}
                    </th>
                    <th>
                        <a href="{{ url_for('user.detail',uid=item.uid) }}">查看详情</a><br>
                        <a href="{{ url_for('user.update_',uid=item.uid) }}">修改信息</a>
                    </th>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{ url_for('user.index',page=1,size=3) }}">首页</a></li>
{#                判断上一页是否禁用#}
                {% if pagination.has_prev %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ url_for('user.index',page=pagination.prev_num,size=3) }}">上一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">上一页</span>
                    </li>
                {% endif %}
{#            遍历生成页码数#}
                {% for num in pagination.iter_pages(left_edge=0,right_edge=0,left_current=left_current,right_current=right_current) %}
{#                    None值处理和禁用判断#}
                    {% if pagination.page == num%}
                        <li class="page-item active">
                          <span class="page-link">
                            {{ num }}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                    {% elif num %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('user.index',page=num,size=3) }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
            {#                判断下一页是否禁用#}
                {% if pagination.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ url_for('user.index',page=pagination.next_num,size=3) }}">下一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">下一页</span>
                    </li>
                {% endif %}

                <li class="page-item"><a class="page-link" href="{{ url_for('user.index',page=pagination.pages,size=3) }}">尾页</a></li>
            </ul>
        </nav>
    </div>
</div>


</body>
</html>